name: Run NHL_MetropolitanDivision_Rankings Script

on:
  schedule:
    - cron: '0 */6 * * *'  # Runs every 6 hours
  workflow_dispatch:  # Allows manual triggering

jobs:
  run-matches-script:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium webdriver_manager babel
    - name: Install Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable
    - name: Run NHL Metropolitan Division Rankings
      run: python NHL_MetropolitanDivision_Rankings_Selenium.py
    - name: Commit and push if changes
      run: |
        git config --global user.name 'GitHub Action'
        git config --global user.email 'action@github.com'
        git add NHL_MetropolitanDivision_rankings.csv
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update matches CSV file" && git push)
